/* header */
#header{
  position: fixed;
  top:0;
  width: 100%;
  padding: 20px 50px 5px 50px;
  margin-bottom: 20vh;
  border-bottom: 2px dashed #ccc;
  background: white;
  z-index: 1;
}
#header a{
  text-decoration: none;
}
#header .logo,
#header nav li{
  float: left;
}
#header .logo{
  color: #777;
  font-size: 2rem;
  font-weight: bold;
  border:5px solid #ccc;
  border-radius: 50%;
  padding: 0 15px;
  cursor: pointer;
}
#header .logo:hover{
  border:5px solid #777;
}

/* 此為nav */
#header nav li{
  margin: 0 10px;
  padding: 0 20px;
}
#header nav li:hover{
  background: green;
  color: white;
  border-radius: 40%;
  cursor: pointer;
}
#header nav{
  float: right;
  line-height:50px
}
#header ul{
  list-style-type: none;
}


/* 選單Panel */
#header #Menu-Panel{
  display: none;
  position: fixed;
  top: 83px;
  right: 30px;
  background: white;
  border: 1px solid #eee;
  list-style-type: none;
}
#header #Menu-Panel li{
  padding: 10px 15px;
  cursor: pointer;
}
#header #Menu-Panel li:hover{
  background: green;
  color: white;
}

/* 購物車Panel與購物清單 */
#header #shopcart-Panel{
  position: fixed;
  top: 83px;
  right: 160px;
  background: white;
  border: 1px solid #eee;
  z-index: 1;
}
#header #shopcart-Panel p,
#shopping-list p{
  color: #777;
  padding: 50px;
}
#header #shopcart-Panel li,
#shopping-list li{
  display: flex;
  padding: 10px;
  margin: 10px;
  border: 1px solid #eee;
}
#header #shopcart-Panel li .book-name,
#header #shopcart-Panel li .delete,
#shopping-list li .book-name,
#shopping-list li .delete{
  padding: 0 10px;
}
#header #shopcart-Panel li .book-name,
#header #shopcart-Panel li .delete,
#shopping-list li .book-name,
#shopping-list li .delete{
  line-height: 50px;
}
#header #shopcart-Panel li .delete:hover,
#shopping-list li .delete:hover{
  cursor: pointer;
  border-radius: 10px;
  background: green;
  color: white;
}
#header #shopcart-Panel .button,
#shopping-list .button{
  background: green;
  padding: 5px 20px;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}
#header #shopcart-Panel .button:hover,
#shopping-list .button:hover{
  color: white;
}
#shopping-list em{
  height: 30%;
  padding: 5px;
  font-size: .8rem;
  font-weight: bold;
  background: red;
  color: white;
}
#shopping-list{
  position: fixed;
  top: 20%;
  right: 33%;
  padding: 20px;
  background: white;
  border: 1px solid #eee;
  border-radius: 10px;
}
#shopping-list h2{
  text-align: center;
  padding: 20px;
}


/* slider */
#slider{
  position: relative;
  margin-top: 2px;
}
#slider img{
  width: 100%;
  height: 100vh;
}
#slider h1{
  position: absolute;
  top:50vh;
  right:40%;
  padding: 20px;
  border-radius: 20px;
  background: rgb(0,0,0,.7);
  color: white;
}

/* 開啟視窗 */
#login.open,
#signup.open,
#signu-success.open,
#update-member.open,
#shopping-list.open,
#commodity-list.open,
#insert-commodity.open{
  display: block;
}
/* 關閉視窗 */
#login,
#signup,
#signu-success,
#update-member,
#shopcart-Panel,
#shopping-list,
#commodity-list,
#insert-commodity{
  display: none;
}

/* 修改個人資料 */
.update-member-data{
  position: fixed;
  top: -20px;
  right: 35%;
  width: 500px;
  background: #fff;
  z-index: 1;
}
/* 註冊與登入Panel */
.login-signup{
  position: fixed;
  top: -20px;
  right: 35%;
  width: 500px;
  background: #fff;
  padding: 50px 120px;
  margin: 0 auto;
  margin-top: 10%;
  border-radius:5%;
  border: 1px solid #eee;
  z-index: 1;
}
.login-signup .close{
  position: relative;
  top:-40px;
  right:-100px;
}
.login-signup h3{
  text-align: center;
  margin-bottom: 30px;
}
.error-msg.open{
  display: block;
}
.error-msg{
  display: none;
}
.error-msg .alert-danger{
  border: none;
  text-align: center;
}
.login-signup input{
  padding: 5px 35px;
  height: 40px;
  font-weight: 200;
  margin-bottom: 14px;
}
.login-signup .button{
  text-align: center;
  margin-top: 10px;
}
.login-signup .button{
  background: green;
  padding: 5px 20px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}
.login-signup .button:hover{
  color: white;
}

/* 此為狀態訊息 */
#signu-success{
  position: absolute;
  top: 20%;
  right: 43%;
  width: 200px;
  padding: 10px;
  background: white;
  border-radius: 5px;
  border: 1px solid #eee;
  text-align: center;
  z-index: 1;
}
#signu-success .button{
  width: 40%;
  float: none;
  margin: 0 auto;
  font-size: 1rem;
  color: black;
  background: green;
  padding: 5px;
  text-shadow: none;
  opacity: 1;
  border-radius: 10px;
  cursor: pointer;
}
#signu-success .button:hover{
  color: white;
}

/* 商品書單 */
#commodity li{
  list-style-type: none;
}
#commodity{
  margin-top: 50px;
  text-align: center;
}
#commodity em{
  font-size: 3rem;
  font-weight: bold;
  padding: 5px;
  border-bottom: 8px solid green;
}
#commodity li{
  padding: 20px;
  border: 5px solid rgb(180, 238, 211);
  border-radius: 30px;
  cursor: pointer;
  margin: 30px 10px;
}
#commodity li:hover{
  border: 5px solid rgb(0, 245, 131);
}
#commodity img{
  width: 100%;
  display: block;
  
}
#commodity .book-name{
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}
#commodity .price{
  margin-top: 10px;
  color: red;
}

#commodity .col-4{
  width: 31.5%;
  flex: none;
}

/* 商品清單 */
#commodity-list{
  position: fixed;
  top: 200px;
  right: 25%;
  padding: 30px;
  background: white;
  border-radius: 10px;
  border: 1px solid #ccc;
  z-index: 1;
}
#commodity-list img{
  float: left;
  width: 50vh;
  height: auto;
  padding: 10px;
}
#commodity-list .container{
  margin-top: 40px;
}
#commodity-list .content{
  float: left;
  padding: 10px;
}
#commodity-list .book-name,
#commodity-list .Publishing-house{
  padding: 10px 0;
}
#commodity-list .button{
  background: green;
  margin-top: 10px;
  padding: 5px 0;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

#commodity-list .button:hover{
  color: white;
}

/* insert到資料庫的商品書單 */
#insert-commodity{
  position: fixed;
  top:200px;
  right: 36%;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  background: white;
  border: 1px solid #ccc;
  z-index: 1;
}
#insert-commodity h2{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
#insert-commodity input[type="file"]{
  width: 48%;
}
#insert-commodity input{
  margin-bottom: 20px; 
}
#insert-commodity .button{
  width: 25%;
  background: green;
  padding: 5px 0;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}