/* textarea */
textarea {
  resize : none;
  width:80vh;
  height:40vh;
}
textarea.details{
  width:40vh;
  height:10vh;
}
/* 按鈕 */
#panel .button{
  background: green;
  padding: 5px 100px;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 350;
  cursor: pointer;
}
#panel .button:hover{
  color: white;
}

/* header */
#header{
  position: fixed;
  top:0;
  width: 100%;
  padding: 20px 50px 5px 50px;
  margin-bottom: 20vh;
  border-bottom: 2px dashed #ccc;
  background: white;
  z-index: 1;
}
#header a{
  text-decoration: none;
}
#header .logo,
#header nav li{
  float: left;
}
#header .logo{
  color: #777;
  font-size: 2rem;
  font-weight: bold;
  border:5px solid #ccc;
  border-radius: 50%;
  padding: 0 15px;
  cursor: pointer;
}
#header .logo:hover{
  border:5px solid #777;
}

/* 此為nav */
#header nav li{
  margin: 0 10px;
  padding: 0 20px;
}
#header nav li:hover{
  background: green;
  color: white;
  border-radius: 40%;
  cursor: pointer;
}
#header nav{
  float: right;
  line-height:50px
}
#header ul{
  list-style-type: none;
}


/* 選單Panel */
#header #Menu-Panel{
  display: none;
  position: fixed;
  top: 83px;
  right: 30px;
  background: white;
  border: 1px solid #eee;
  list-style-type: none;
}
#header #Menu-Panel li{
  padding: 10px 15px;
  cursor: pointer;
}
#header #Menu-Panel li:hover{
  background: green;
  color: white;
}

/* 購物車Panel與購物清單 */
#header #shopcart-Panel{
  position: fixed;
  top: 83px;
  right: 160px;
  background: white;
  border: 1px solid #eee;
  z-index: 1;
}
#header #shopcart-Panel p,
#shopping-list p{
  color: #777;
  padding: 50px;
}
#header #shopcart-Panel li,
#shopping-list li{
  list-style-type: none;
  padding: 35px;
  margin: 10px;
  border: 1px solid #eee;
}
#header #shopcart-Panel li img{
  width: 60px;
  height: auto;
  margin-top: -25px;
  margin-right: 10px;
}
#header #shopcart-Panel li .content{
  margin-top: -15px;
  font-size: 1.1rem;
}
#header #shopcart-Panel li .price{
  color: red;
}
#header #shopcart-Panel li img,
#header #shopcart-Panel li .content{
  float: left;
}
#header #shopcart-Panel li .price{
  padding-right: 60px;
}
#header #shopcart-Panel li .price,
#header #shopcart-Panel li .delete{
  float: right;
  margin-top: -25px;
}
#header #shopcart-Panel li .book-name,
#header #shopcart-Panel li .delete,
#shopping-list li .book-name,
#shopping-list li .delete{
  padding: 0 10px;
}
#header #shopcart-Panel li .book-name,
#header #shopcart-Panel li .delete,
#shopping-list li .book-name,
#shopping-list li .delete{
  line-height: 50px;
}
#header #shopcart-Panel li .delete:hover,
#shopping-list li .delete:hover{
  cursor: pointer;
  border-radius: 10px;
  background: green;
  color: white;
}
#header #shopcart-Panel .button,
#shopping-list .button{
  background: green;
  padding: 5px 20px;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}
#header #shopcart-Panel .button:hover,
#shopping-list .button:hover{
  color: white;
}
#shopping-list em{
  height: 30%;
  padding: 5px;
  font-size: .8rem;
  font-weight: bold;
  background: red;
  color: white;
}
#shopping-list{
  position: fixed;
  top: 20%;
  right: 33%;
  padding: 20px;
  background: white;
  border: 1px solid #eee;
  border-radius: 10px;
}
#shopping-list h2{
  text-align: center;
  padding: 20px;
}


/* slider */
#slider{
  position: relative;
  margin-top: 2px;
}
#slider img{
  width: 100%;
  height: 100vh;
}
#slider h1{
  position: absolute;
  top:50vh;
  right:40%;
  padding: 20px;
  border-radius: 20px;
  background: rgb(0,0,0,.7);
  color: white;
}

/* 開啟視窗 */
#login.open,
#signup.open,
#signu-success.open,
#update-member.open,
#shopping-list.open,
#commodity-list.open,
#insert-commodity.open,
#update-member-admin.open,
#insert-commodity img.open,
#shopping-list-admin.open{
  display: block;
}
/* 關閉視窗 */
#login,
#signup,
#signu-success,
#update-member,
#shopcart-Panel,
#shopping-list,
#commodity-list,
#insert-commodity,
#update-member-admin,
#insert-commodity img,
#shopping-list-admin{
  display: none;
}

/* 註冊與登入Panel */
.login-signup{
  position: fixed;
  top: -20px;
  right: 35%;
  width: 500px;
  background: #fff;
  padding: 50px 120px;
  margin: 0 auto;
  margin-top: 10%;
  border-radius:5%;
  border: 1px solid #eee;
  z-index: 1;
}
.login-signup .close{
  position: relative;
  top:-40px;
  right:-100px;
}
.login-signup h3{
  text-align: center;
  margin-bottom: 30px;
}
.error-msg.open{
  display: block;
}
.error-msg{
  display: none;
}
.error-msg .alert-danger{
  border: none;
  text-align: center;
}
.login-signup input{
  padding: 5px 35px;
  height: 40px;
  font-weight: 200;
  margin-bottom: 14px;
}


/* 此為狀態訊息 */
#signu-success{
  position: fixed;
  top: 20%;
  right: 46%;
  width: 200px;
  padding: 10px;
  background: white;
  border-radius: 5px;
  border: 1px solid #eee;
  text-align: center;
  z-index: 9999;
}
#signu-success .button{
  width: 40%;
  float: none;
  margin: 0 auto;
  font-size: 1rem;
  color: black;
  background: green;
  padding: 5px;
  text-shadow: none;
  opacity: 1;
  border-radius: 10px;
  cursor: pointer;
}
#signu-success .button:hover{
  color: white;
}

/* 商品書單 */
#commodity li{
  list-style-type: none;
}
#commodity{
  margin-top: 50px;
  text-align: center;
}
#commodity em{
  font-size: 3rem;
  font-weight: bold;
  padding: 5px;
  border-bottom: 8px solid green;
}
#commodity li{
  padding: 20px;
  border: 5px solid rgb(180, 238, 211);
  border-radius: 30px;
  cursor: pointer;
  margin: 30px 10px;
}
#commodity li:hover{
  border: 5px solid rgb(0, 245, 131);
}
#commodity img{
  width: 100%;
  display: block;
  height: 200px;
}
#commodity .book-name{
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}
#commodity .price{
  margin-top: 10px;
  color: red;
}

#commodity .col-4{
  width: 31.5%;
  flex: none;
}

/* 商品清單 */
#commodity-list{
  position: fixed;
  top: 15%;
  left: 0;
  padding: 30px;
  width: 980px;
  max-height: 80vh;
  overflow: auto;
  text-align: center;
  border-radius: 10px;
  background: white;
  border: 1px solid #ccc;
  z-index: 1;
}
#commodity-list .close{
  position: fixed;
  left: 940px;
} 
#commodity-list .button{
  margin-top: 40px;
}
#commodity-list img{
  width: 50vh;
  height: auto;
  padding: 10px;
  margin: 0 auto;
}
#commodity-list .container{
  margin-top: 40px;
}
#commodity-list .content{
  padding: 10px;
}
#commodity-list .book-name,
#commodity-list .Publishing-house{
  padding: 10px 0;
}
/* 商品清單內容使用空白與換行 */
div.Introduction,
div.about_the_author,
div.a_list,
div.details{
  white-space: pre-wrap;
  text-align:justify;
}

/* insert到資料庫的商品書單 */
#insert-commodity{
  position: fixed;
  top: 15%;
  right: 26%;
  padding: 30px;
  max-height: 80vh;
  overflow: auto;
  text-align: center;
  border-radius: 10px;
  background: white;
  border: 1px solid #ccc;
  z-index: 1;
}
#insert-commodity .close{
  position: fixed;
  margin-left: 75vh;
} 
#insert-commodity h2{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
#insert-commodity input[type="file"]{
  width: 48%;
}
#insert-commodity input{
  margin-bottom: 20px; 
}

/* 上傳圖片預覽圖 */
#insert-commodity img{
  width: 50vh;
  height: 35vh;
  margin: 0 auto;
}
/* 修改個人資料 */
#update-member{
  position: fixed;
  top:20%;
  right: 40%;
  padding: 20px;
  max-height: 400px;
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow: auto;
  background: white;
  z-index: 1;
}
#update-member .Menu{
  list-style-type: none;
  padding: 0;
}
#update-member .Menu li {
  float: left;
}
#update-member .Menu li a{
  display: block;
  text-decoration: none;
  padding: 8px 50px;
  background: green;
  color: white;
}
#update-member .Menu li a.curren{
  background: white;
  color: green;
}
#update-member .content{
  list-style-type: none;
}
#update-member .content li{
  text-align: center;
}
#update-member .content li#update-map .button{
  margin-left: -40px;
}
#update-member h3{
  text-align: center;
}
/* 管理員修改資料 */
#update-member-admin{
  position: fixed;
  top:20%;
  right: 33%;
  padding: 20px;
  max-height: 400px;
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow: auto;
  background: white;
  z-index: 1;
}
#update-member-admin h3{
  text-align: center;
}
#update-member-admin ul{
  padding: 10px;
}
#update-member-admin li{
  display: flex;
  list-style-type: none;
  padding: 10px;
}
#update-member-admin li:hover{
  background: rgb(184, 215, 240);
  border-radius: 10px;
  cursor: pointer;
}
#update-member-admin span{
  margin-right: 30px;
}
#update-member-admin input{
  margin-right: 10px;
}
#update-member-admin .button{
  background: green;
  padding: 0 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

/* 管理員購物清單 */
#shopping-list-admin{
  position: fixed;
  top:20%;
  right: 20%;
  padding: 20px;
  max-height: 400px;
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow: auto;
  background: white;
  z-index: 1;
}
#shopping-list-admin h2{
  text-align: center;
}
#shopping-list-admin img{
  width: 60px;
  height: auto;
}
#shopping-list-admin li{
  list-style-type: none;
  padding: 10px;
}
#shopping-list-admin li:hover{
  background: rgb(184, 215, 240);
  border-radius: 10px;
  cursor: pointer;
}
#shopping-list-admin span{
  margin: 0 10px;
}
#commodity-list .update-commodity-button,
#commodity-list .delete-commodity-button{
  background: green;
  padding: 0 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}